:root {
	--color-fire: #b91c1c;
	--color-grass: #3aa134;
	--color-steel: #a5babb;
	--color-water: #3fa1bd;
	--color-psychic: #bf1478;
	--color-ground: #97842e;
	--color-ice: #84bac9;
	--color-flying: #3a899f;
	--color-ghost: #404a50;
	--color-normal: #a5abad;
	--color-poison: #a30874;
	--color-rock: #605e52;
	--color-fighting: #d56723;
	--color-dark: #323030;
	--color-bug: #9cc930;
	--color-dragon: linear-gradient(180deg, #c7cf53 50%, #f16e57 50%);
	--color-electric: #cfbb04;
	--color-fairy: #cb99bc;
	--color-shadow: #4c3f60;
	--color-unknow: #786e6e;
}

/* Types of Pokemon */
.water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
}